@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #c92071;
  --secondary: #b5b6f2;
  --tertiary: #991956;
  --error: #ee4266;
  --success: #52ca76;
  --warning: #f6aa1c;

  --dark-gray: #1f1f1f;
  --dark-gray-2: #474747;
  --dark-gray-3: #666666;
  --light-gray: #8f8f8f;
  --light-gray-2: #cccccc;
  --light-gray-3: #f5f5f5;
  --white: #ffffff;
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--light-gray-3);
  background-color: #f9f8fe;
  overflow-x: hidden;
}

.w-90.flex-wrap-reverse.flex.justify-center.items-center {
  background-color: var(--light-gray-3);
}
